	<div class="sidenav">
		<nav>
			<ul>
				<li><a href="/">Dashboard</a></li>
				<li><a href="/students/all">Students</a></li>
				<li><a href="">Classes</a></li>
				<li><a href="">Attendance</a></li>
				<li><a href="">Fees</a></li>
			</ul>
		</nav>
	</div>

	<div class="wrap">
		<div class="loading">
		<div class="bounceball"></div>
		<div class="text">NOW LOADING</div>
		</div>
	</div>