<div class="sidenav">
	<nav>
		<ul>
			<li><a href="/"><i class="fas fa-window-maximize"></i> Dashboard</a></li>
			<li><a href="/student/all"><i class="fas fa-user"></i> Students</a></li>
			<li class="menu" ><i class="fas fa-plus"></i> Classes</li>
			<li><a href="#">Attendance</a></li>
			<li><a href="">Fees</a></li>
			<% if(!currentUser){ %>
				<li><a href="/login">login</a></li>
			<% }else { %>
				<li>Logged in as <%= currentUser.username %></li>
				<li><a href="/logout">logout</a></li>

			<% } %>
			

		</ul>
	</nav>
</div>
<script>
	
</script>