@import "layout.css";


.display{
	display: flex;
	margin-top: 20px;
	justify-content: space-between;

}
.box1,
.box2,
.box3 {
	color: #fff;
	width: 30%;
	height: 150px;
	text-align: center;
	border-radius: .35em;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

	
}
.numofstudent{
	background-color: #003c8f;
}