@import "layout.css";

#student-photo,
#studentInfo,
#parentInfo {
	padding:20px 20px;
}

div[id="student-photo"]  img {
	margin-left: 5px;
};
#student-photo > input {
	margin-bottom: 10px;
}
#circle {
	width: 100px;
	height: 100px;
	background: red;
	border-radius: 50%;
}