body {
	height: 100%;
	margin:0;
	font-family: 'Montserrat', sans-serif;
}


.sidenav {
	position: fixed;
	top: 0;
	padding-bottom: 16px;
	width:160px;
	height: 100%;
	z-index: 1;
	left: 0;
	overflow-x: hidden;
	padding-top: 20px;
	background-color: #0202ff8a;
}
nav {
	position: relative;
	top: 100px;
}
nav ul li {
	padding: 10px 10px;
	margin-top: 16px;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	list-style: none;
}
nav ul {

	padding-left: 0;
	margin:0;
	padding:0;
}

nav ul li a {
	text-decoration:none;
	color: white;
}
/*Main Content Area*/
.main{
	margin-left: 200px;
}

.wrapper {
	margin-left: 30px;
	margin-right: 30px;
}


/*Table Styling */

table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  border-bottom: 1px solid #ddd;
  text-align: left;
}
thead {
	background-color: rgba(2, 2, 255, 0.54); 

}
th {
	padding:10px;
}
td {
	padding: 7px 7px;
}

input[id="search"] {
	font-family: 'Montserrat';
    float: right;
    width: 300px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

select {
	font-family: 'Montserrat';
	float: right;
    padding: 9px;
    border-radius: 3px;
    border: 1px solid #ddd;
    border-right: none;
}
}