<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="dashboard.css">
</head>
<body>
	<nav>
		<ul>
			<li><a href="">Dashboard</a></li>
			<li><a href="">Classes</a></li>
			<li><a href="">Attendance</a></li>
			<li><a href="">Fees</a></li>
		</ul>
	</nav>

</body>
</html>