<!DOCTYPE html>
<html>
<head>
	<title>New Student</title>
</head>
<body>
	<form>
		<input type="text" name="name" placeholder="Full Name">
		<input type="number" name="year" placeholder="Year Group">
		<input type="text" name="class" placeholder="Class">
		<input type="text" name="gender" placeholder="Gender">
		<label for="gender">Gender: </label>
		<select name="gender">
			<option>Male</option>
			<option>Female</option>
		</select>
		<input type="number" name="name" placeholder="Year of Birth">
		<input type="text" name="neighborhood" placeholder="neighborhood (Area)">	


	</form>
	<!-- name: "Jamac Siyaad",
// 	year: 8,
// 	class: "8A",
// 	gender: "female",
// 	dateOfBirth: 1998,
// 	neighborhood: "daame",
// 	parentInfo : {
// 		mother : {
// 			name: "xaawo",
// 			phoneNumber: 0633663937,
// 		},
// 		father : {
// 			name: "siyaad",
// 			phoneNumber: 0634265343
// 		}
// 	},
// 	previousSchool : "Gol Khaatumo", -->


</body>
</html>