<!DOCTYPE html>
<html>
<head>
	<title>New Student</title>
	<link rel="stylesheet" type="text/css" href="../new.css">
</head>
<body>
	<div class="sidenav">
		<nav>
			<ul>
				<li><a href="/">Dashboard</a></li>
				<li><a href="">Classes</a></li>
				<li><a href="/students/all">Students</a></li>
				<li><a href="">Attendance</a></li>
				<li><a href="">Fees</a></li>
			</ul>
		</nav>
	</div>
	<div class="main">
		<div class="wrapper">

			<h2>New Student's Details</h2>
			<form action="/student" method="POST">
				<div style="display: none;" >
					<input type="file" onchange="previewFile()"><br>
					<img src="../placeholder.jpg" height="200" alt="Image preview..." />
				</div>
				<div id="student-photo" >
					<input type="file" onchange="previewFile()"><br>
					<img src="../placeholder.jpg" height="200" alt="Image preview..." />
				</div>
				<div id="studentInfo">
					<input type="text" name="name" placeholder="Full Name">
					<input type="number" name="year" placeholder="Year Group">
					<input type="text" name="classname" placeholder="Class">

					<input type="number" name="dateOfBirth" placeholder="Year of Birth">
					<input type="text" name="neighborhood" placeholder="neighborhood (Area)">
					<br>
					<label for="gender">Gender: </label>
					<select name="gender">
						<option>Male</option>
						<option>Female</option>
					</select>	
			
				</div>
					
					<div id="parentInfo">
						<div id="circle">1</div>
						<h2>Parent's Details</h2>
						<div id="Mother">
						<input type="text" name="motherName" placeholder="Mother's Full Name">
						<input type="number" name="motherPhone" placeholder="Mobile Number">
						</div>
						<div id="father">
						<input type="text" name="fatherName" placeholder="father's Full Name">
						<input type="number" name="fatherPhone" placeholder="Mobile Number">
						</div>


							
					</div>
					<button type="submit">Submit</button>

			</form>
		</div>
	</div>
	
	<!-- name: "Jamac Siyaad",
// 	year: 8,
// 	class: "8A",
// 	gender: "female",
// 	dateOfBirth: 1998,
// 	neighborhood: "daame",
// 	parentInfo : {
// 		mother : {
// 			name: "xaawo",
// 			phoneNumber: 0633663937,
// 		},
// 		father : {
// 			name: "siyaad",
// 			phoneNumber: 0634265343
// 		}
// 	},
// 	previousSchool : "Gol Khaatumo", -->

<script>
   function previewFile(){
       var preview = document.querySelector('img'); //selects the query named img
       var file    = document.querySelector('input[type=file]').files[0]; //sames as here
       var reader  = new FileReader();

       reader.onloadend = function () {
           preview.src = reader.result;
       }

       if (file) {
           reader.readAsDataURL(file); //reads the data as a URL
       } else {
           preview.src = "";
       }
  }

  previewFile();  //calls the function named previewFile()
  </script>
</body>
</html>