<!DOCTYPE html>
<html>
<head>
	<title><%= student.name %></title>
	<% include ../partials/head.ejs %>
	<link rel="stylesheet" type="text/css" href="dashboard.css">
</head>
<body>
	<% include ../partials/header.ejs %>
	<h1><%= student.name %></h1>

</body>
</html>s